*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.main{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
button{
    width: 200px;
    height: 50px;
}


.box{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
}
.circle{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 50%;
}
.img{
    background-image: url("../../../img/the_batman_2021_robert_pattinson-wallpaper-1920x1080.jpg") ;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
}

/***********************************************/

.container1{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
/***********************************************/

.container2{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.main1{
    padding: 50px;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}

