.d-flex{
    display: flex;
}


.flex-d-column{
    flex-direction: column;
}
.flex-d-row{
    flex-direction: row;
}


.j-center{
    justify-content: center;
}
.j-right{
    justify-content: right;
}
.j-spc-btw{
    justify-content: space-between;
}
.j-spc-around{
    justify-content: space-around;
}
.j-spc-evenly{
    justify-content: space-evenly;
}

.f-1{
    flex: 1;
}
.f-2{
    flex: 2;
}
.f-3{
    flex: 3;
}
.f-4{
    flex: 4;
}


.a-center{
    align-items: center;
}


.p10{
    padding: 10px;
}
.border{
    border: 1px solid black;
}
.mar-20{
    margin: 20px;
}
.mar-left-20{
    margin-left: 20px;
}
.mar-right-20{
    margin-right: 20px;
}
.mar-top-20{
    margin-top: 20px;
}
.mar{
    margin: 20px 20px 0 20px;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
/*-------------------------------------------------------------------------*/
.container{
    height: 900px;
}
.inside{
    width: 10%;
    height: 90%;
}
.inside1{
    width: 90%;
    height: 10%;
}
.mini{
    width: 20px;
    height: 20px;
}

.stulp{
    width: 5%;
}
.stulp1{
    width: 15%;
}
.stulp2{
    width: 5%;
}
.gulsc{
    height: 5%;
    width: 80%;
}
.gulsc1{
    height: 15%;
    width: 80%;
}