*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
}

/***********************************************/

.imgBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    width: 400px;
    height: 500px;
}
.image{
    border: 1px solid black;
    flex: 5;
    margin: 10px 10px 0 10px;
    /*background-image: url("../../../img/the_batman_2021_robert_pattinson-wallpaper-1920x1080.jpg");*/
    background-size: cover;
    background-position: center;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 1px solid black;
    flex: 1;
    margin: 0 10px 10px 10px;
}

/***********************************************/
.main1{
    padding: 100px;
    width: 800px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    width: 100px;
    height: 150px;
    border: 1px solid black;
}